@import url('https: //fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #F0F0F0;
  font-family: 'Open Sans', sans-serif;
}
.body {
  display: flex;
  flex-direction: column;
  align-items: space-between;
  min-height: 100vh;
}
.main {
  flex-grow: 1;
  width: 100%;
  /* border: 1px solid black; */
  font-size: 16px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
}

footer {
  color: white;
  width: 100%;
  text-align: center;
  background-color: #1C252C;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
.footer--left {
  grid-column: 1 / 3;
  width: 90%;
  justify-self: center;
}

/* Form styles */
.form {
  background-color: white;
  width: 80%;
  /* border: 1px solid black; */
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.form-title{
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 5fr;
  /* align-self: flex-start; */
}
.form-title h2 {
  margin-top: 10px;
  grid-column: 2 / 3;
  justify-self: start;
}
.form div:not(:first-child) {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 2fr 2fr 1fr;
}
.form div label {
  grid-column: 2 / 3;
  margin: 1rem;
  font-size: 1.2rem;
}
.form div input {
  padding: 4px;
  grid-column: 3 / 4;
  width: 85%;
  align-self: center;
  margin: 0.3rem;
  font-size: 1.2rem;
}
.form div input[type=month] {
  width: 50%;
}
.form div textarea {
  font-family: inherit;
  margin-left: 5px;
  width: 85%;
}
.submit-btn {
  font-size: inherit;
  width: 20%;
  margin-top: 10px;
  padding: 5px;
  border-radius: 50px;
  border: none;
}

/* General CV styles */
.cv {
  padding-left: 50px;
  background-color: white;
  width: 80%;
  /* border: 1px solid black; */
  display: grid;
  
}
.section-title {
  font-weight: 400;
  color: #215868;
  text-decoration: underline;
}
.cv h3 {
  font-weight: 400;
}
.edit-btn {
  font-family: inherit;
  width: 40px;
  height: 100%;
  border: none;
  border-radius: 0 20px 20px 0;
  grid-column: 3 / 4;
  grid-row: 1 / 3;
  justify-self: end;
  opacity: 0.3;
  background: linear-gradient(to right, white, rgb(240, 240, 240));
  transition: all 200ms;
}
.edit-btn:hover {
  cursor: pointer;
  opacity: 1;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 0px, rgba(0, 0, 0, 0.24) 0px 1px 0px;
}
.edit-btn span {
  writing-mode: vertical-lr;
  text-orientation: upright;
}

/*Section specific styles */
.general--cv {
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr 1fr;
}
.general--title {
  padding-top: 2rem;
  width: 100%;
  grid-column: 1 / 4;
  grid-row: 1 / 2;
}
.general--cv hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
  width: 100%;
  justify-self: center;
  grid-column: 1 / 4;
  grid-row: 2;
}
.general--cv h3 {
  margin-top: 5px;
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}
.education--cv {
  text-align: start;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr 2fr;
}
.education--cv div {
  grid-column: 1 / 3;
  grid-row: 2 / 3;
  text-align: start;
  justify-self: start;
}
.work--cv {
  text-align: start;
  grid-template-columns: 1fr 2fr 1fr;
  grid-auto-rows: auto;
}
.work--item {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-column: 1 / 4;
}
.work--item h3:first-child {
  align-self: end;
}
.main-tasks {
  grid-column: 1 / 3;
  grid-row: 2 / 3;
}
